* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --tran: all 0.3s ease;
    --color-1: rgb(16, 16, 69);
    --color-orange: rgb(250, 104, 0);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

section {
    padding: 20px 180px;
}

h1,
h2 {
    text-transform: capitalize;
}

body {
    background-color: aliceblue;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-1);
    padding: 10px 180px;
}

header .call {
    color: white;
    font-size: 16px;
}

header .call i {
    font-size: 20px;
}

header .social-accounts {
    display: flex;
    justify-content: space-between;
}

header .social-accounts a {
    color: white;
    margin: 0 5px;
    padding: 5px 8px;
    border-radius: 3px;
    transition: var(--tran);
}

header .social-accounts a:hover {
    background-color: black !important;
}


/* NAV */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 180px;
}

.logo {
    height: 40px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-menu li {
    margin: 0 11px;
}

.nav-menu li a {
    color: var(--color-1);
    font-size: 18px;
    font-weight: 400;
}

.nav-menu .login {
    background-color: rgb(0, 0, 172);
    padding: 6px 14px;
}

.nav-menu .login a {
    color: white;
}


/* section.main */

section.main {
    position: relative;
    height: 700px;
    padding: 0;
}

.bg-img {
    height: 100%;
}

section.main .main-content {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: blue;
    color: white;
    padding: 40px 18px 40px 180px;
}

section.main .main-content h1 {
    font-size: 80px;
    text-transform: capitalize;
}

section.main .main-content h1 span {
    color: rgb(250, 104, 0);
}

section.main .main-content p {
    margin: 18px 0;
    font-size: 22px;
    font-weight: 500;
}

.choose-login {
    margin: 40px 0;
}

.choose-login span {
    font-size: 22px;
}

.choose-login .login-btns {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.choose-login .login-btns a {
    color: white;
    margin-right: 20px;
    border: 1px solid white;
    padding: 5px 18px;
}

.choose-login .login-btns a:hover {
    background-color: white;
    color: #000;
}


/* what-do */

.sec-title {
    margin: 40px 0;
    text-align: center;
}

.sec-title h1 {
    font-size: 60px;
    color: blue;
    font-weight: 600;
    text-transform: capitalize;
}

.what-do {
    background-color: blue;
    color: white;
}

.sec-des {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.sec-container {
    margin-top: 50px;
}

.sec-container .content {
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 60px;
}

.content .image {
    position: relative;
    left: -180px;
}

.content .image:last-child {
    left: 0px;
}

.content .txt-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.txt-content .txt h2 {
    color: var(--color-orange);
}

.txt-content .txt p {
    margin-top: 20px;
    font-size: 18px;
}

.choose-login .login-btns {
    margin-top: 18px;
    display: flex;
    align-items: center;
}

.btn {
    color: white;
    margin-right: 20px;
    border: 1px solid white;
    padding: 5px 18px;
    transition: var(--tran);
}

.btn:hover {
    background-color: white;
    color: #000;
}


/* we-care-imgs */

.we-care-imgs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.we-care-imgs .image {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


/* reason */

.reason .sec-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reason-item {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 350px;
    margin: 20px;
    gap: 80px;
    left: -180px;
}

.reason-txt {
    background-color: blue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px 20px 20px 180px;
}

.reason-txt h2 {
    color: var(--color-orange);
    font-size: 35px;
}

.reason-txt p {
    margin-top: 20px;
    font-size: 20px;
    color: white;
    line-height: 1.3;
}

.reason-imgs {
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.reason-item:nth-child(2),
.reason-item:nth-child(4) {
    left: 180px;
}


/* blog */

.blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* flex-wrap: wrap; */
}

.blog-item {
    background-color: rgb(209, 209, 223);
    border: 1px solid rgb(185, 185, 192);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.blog-item p {
    margin-top: 15px;
}

.blog-buttons {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button:first-child a {
    background-color: blue;
    padding: 10px 15px;
    color: white;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

.button:last-child i {
    color: var(--color-orange);
    font-size: 18px;
    font-weight: 500;
}


/* contact */

.contacts-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'info info form form form';
    grid-template-rows: 800px;
    background-color: white;
    padding: 14px;
    border-radius: 11px;
}

.contact-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: blue;
    padding: 35px 0 25px 25px;
    border-radius: 11px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-info .title h1 {
    font-weight: 600;
    font-size: 36px;
}

.contact-info .title p {
    color: rgb(149, 149, 149);
    font-size: 18px;
}

.contact-info .contacts div {
    margin: 15px 0;
    display: flex;
    align-items: center;
    font-size: 24px;
}

.contact-info .contacts div .type {
    margin-right: 20px;
}


/* Media */

@media screen and (max-width:1000px) {
    section.main .main-content h1 {
        font-size: 45px;
    }
    section {
        padding: 20px;
    }
    .content .image {
        position: relative;
        /* top: 0; */
        left: -20px;
    }
}