* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #191d2b;
    --color-secondary: #27AE60;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-orange: orangered;
    --br-sm-2: 14px;
    --tran: all .4s ease-in-out;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .2);
}

body {
    padding: 20px;
    font-family: sans-serif;
}

.container {
    width: 800px;
    background-color: #f8f8f8;
}

.first {
    position: relative;
    height: 540px;
}

.header {
    position: relative;
    width: 100%;
    height: 270px;
}

.header img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.header span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 68, 0, 0.477);
    z-index: 1;
    border-radius: 7px;
}

.card-header {
    position: absolute;
    top: 20px;
    left: 10px;
    background-color: var(--color-primary);
    z-index: 2;
    padding: 24px 10px;
    color: #f8f8f8;
    width: 320px;
    height: 85%;
    border-radius: 7px;
}

.card-header h1 {
    font-size: 2.6rem;
}

.line {
    width: 60px;
    height: 3px;
    background-color: var(--color-orange);
    margin: 20px 0;
}

.card-header ul {
    list-style: none;
}

.card-header ul li {
    margin-bottom: 8px;
}

.button {
    width: fit-content;
    background-color: orangered;
    border-radius: 3px;
    margin-left: 25px;
    margin-top: 25px;
    padding: 13px;
    transition-duration: .3s;
}

.button:hover {
    background-color: white;
    color: #000;
    transition: all ease-in-out .3s;
    cursor: pointer;
}

.pragraph {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 400px;
    height: 200px;
    border: 2px solid orangered;
    padding: 20px;
}

/* second section */
.second {
    display: flex;
    margin-bottom: 40px;
}

.card {
    background-color: #dddcdc;
    width: 250px;
    height: 400px;
    padding: 40px 20px 0 20px;
    margin: 10px;
}

.count {
    color: orangered;
}

.title {
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: 400;
}

.card p {
    color: #3f3f3f;
    line-height: 30px;
}

.card h4 {
    font-weight: 300;
    margin-top: 30px;
    color: orangered;
    width: 100%;
    height: fit-content;
    position: relative;
}

.card h4::after {
    content: '';
    position: absolute;
    width: 10px;
    border: 1px solid;
    top: 50%;
    margin-left: 2px;
}

.last {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 350px;
    padding: 20px 40px;
    background-color: #191d2b;
    color: #FFFFFF;
    border-radius: 5px;
}

.bg-img {
    z-index: -1;
    width: 100%;
    height: 100%;
}

.second-container {
    overflow: hidden;
}

.second-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}