:root {
    --color-orangered: orangered;
    --bs-black: #000;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-blue: #3b7ddd;
    --bs-gray-500: #adb5bd;
    --color-yellow: #fdbe33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bs-gray-100);
}

h1 {
    font-weight: 400;
    font-size: 24px;
}

img {
    width: 100%;
}

input {
    border: none;
    text-align: right;
    padding: 2px 10px 2px 0;
    border-radius: 3px;
}

button {
    border: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #030f27;
}

a {
    color: #666666;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #fdbe33;
    outline: none;
    text-decoration: none;
}