@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --bs-dark: #212529;
    --bs-success: #1cbb8c;
    --bs-gray: #212529;
    --bs-purple: #6f42c1;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-yellow: #fcb92c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: var(--bs-gray-200);
}

.container {
    width: 95%;
    height: 95%;
    background-color: white;
    margin: auto auto;
}