* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --bs-blue: #3b7ddd;
    --bs-indigo: #0a0a0a;
    --bs-purple: #6f42c1;
    --bs-pink: #e83e8c;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #fcb92c;
    --bs-green: #1cbb8c;
    --bs-teal: #20c997;
    --bs-cyan: #17a2b8;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #3b7ddd;
    --bs-secondary: #6c757d;
    --bs-success: #1cbb8c;
    --bs-info: #17a2b8;
    --bs-warning: #fcb92c;
    --bs-danger: #dc3545;
    --bs-light: #f5f7fb;
    --bs-dark: #212529;
    --tran: all 0.3s ease;
}

body {
    display: flex;
}

a {
    text-decoration: none;
    display: block;
}

img {
    width: 100%;
    height: 100%;
}

nav {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background-color: var(--bs-white);
    box-shadow: 0 5px 7px var(--bs-gray-300);
    padding: 30px 20px 0 30px;
    z-index: 9999;
}

nav .logo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

nav .logo span {
    font-size: 28px;
    font-weight: 600;
    color: var(--bs-gray-800);
}

nav .logo i {
    font-weight: 200;
    font-size: 20px;
    cursor: pointer;
    transition: all ease-in .3s;
    position: relative;
    z-index: 5;
    display: inline;
}

nav .logo i:hover {
    transform: scale(1.1);
}

nav .menu .main-m {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--bs-gray-500);
}

nav .menu ul {
    list-style: none;
}

nav .menu ul li {
    margin: 18px 0;
}

nav .menu ul li a {
    color: var(--bs-gray-500);
    font-size: 16px;
    transition: all .15s ease;
}

nav .menu ul li a:hover {
    color: var(--bs-purple);
}

nav .menu ul li a.active {
    color: var(--bs-purple);
    font-weight: 600;
}

nav .menu ul li a i {
    margin-right: 20px;
    font-size: 16px;
}


/* MAIN */

main {
    width: 100%;
}


/* header */

header {
    background-color: var(--bs-white);
    padding: 20px 0;
}

.header {
    max-width: 1550px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 42px;
}

.header-form {
    height: 100%;
    display: flex;
}

.header-form button {
    background-color: var(--bs-gray-100);
    border: none;
    outline: none;
    border-radius: 20px 0 0 20px;
    width: 50px;
    color: var(--bs-purple);
    font-size: 20px;
}

.header-form input {
    background-color: var(--bs-gray-100);
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    padding: 0 10px;
}

.header-content {
    display: flex;
    height: 100%;
}

.header-content .other {
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.header-content .other a {
    text-decoration: underline;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
}

.header-items {
    display: flex;
    align-items: center;
    margin-right: 35px;
}

.header-items .item {
    color: var(--bs-gray-500);
    margin: 0 12px;
    font-size: 23px;
    position: relative;
    cursor: pointer;
    transition: var(--tran);
}

.header-items .item:hover {
    color: var(--bs-gray-600);
}

.header-items .item:first-child::before {
    content: '12';
    position: absolute;
    top: -8px;
    right: 0;
    color: white;
    font-size: 10px;
    width: 16px;
    height: 16px;
    background-color: cyan;
    border-radius: 50%;
}

.user-details {
    display: flex;
    transition: var(--tran);
    cursor: pointer;
}

.user-details:hover {
    box-shadow: 0 0 5px rgba(00, 0, 0, 0.1);
}

.user-details .user-img {
    margin-right: 14px;
    height: 100%;
    width: 43px;
}

.user-details .user-img img {
    object-fit: cover;
    border-radius: 7px;
}

.user-name .name {
    font-size: 17px;
    font-weight: 700;
}

.user-name .user-job {
    font-size: 14px;
    color: var(--bs-gray-400);
    font-weight: 400;
}


/* wrapper */

.wrapper {
    background-color: var(--bs-gray-100);
    height: 100%;
    padding: 20px 0;
}

.container {
    max-width: 1550px;
    width: 100%;
    margin: auto;
}

.head {
    display: flex;
    justify-content: space-between;
}

.head .title h1 {
    font-size: 32px;
    font-weight: 600;
}

.head .title p {
    color: var(--bs-gray-400);
    font-size: 17px;
}

.contact-form {
    display: flex;
    gap: 25px;
    height: 40px;
}

.contact-form .csf {
    display: flex;
    align-items: center;
    background-color: var(--bs-white);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 25px 18px;
}

.contact-form .csf button {
    border: none;
    outline: none;
    background-color: var(--bs-white);
    border-radius: 8px;
    color: var(--bs-purple);
    font-size: 24px;
    margin-right: 15px;
    font-weight: 300;
}

.contact-form .csf input {
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: var(--bs-white);
    color: var(--bs-gray-600);
}

.contact-form a {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    padding: 25px;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.contact-form .table {
    background-color: var(--bs-white);
    color: var(--bs-gray-600);
}

.add-user {
    background-color: var(--bs-purple);
    color: white;
}

.add-user i {
    margin-right: 5px;
}

.wrapper .content {
    margin-top: 25px;
}

.contacts-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    flex-wrap: wrap;
}

.contacts-cards .card {
    background-color: white;
    padding: 25px 15px;
    box-shadow: 0 1px 8px rgba(109, 109, 109, 0.2);
    transition: var(--tran);
    border-radius: 8px;
}

.contacts-cards .card:hover {
    box-shadow: 0 1px 14px rgba(109, 109, 109, 0.2);
    transform: scale(1.01);
}

.card .card-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-img {
    width: 75px;
    height: 75px;
}

.card-img img {
    border-radius: 12px;
    position: relative;
}

.card-img img::after {
    position: absolute;
    content: 'Hs';
    bottom: 0;
    right: -4px;
    width: 15px;
    height: 15px;
    background-color: var(--bs-pink);
}