@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

:root {
    --bs-blue: #3b7ddd;
    --bs-gray: #ced4da;
    --bs-gray-600: #6c757d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(/img/background-image.jpg);
}

img {
    width: 100%;
    height: 100%;
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.container>img {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.container .bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3b7cdd72;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

/* ========== CONTENT ========== */
.content {
    width: 1100px;
    height: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
}

.content-left {
    padding: 20px;
    border: 1px solid;
    border-color: transparent var(--bs-gray) transparent transparent;
}

form.searching {
    height: 8%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

form.searching input {
    background-color: var(--bs-gray);
    width: 80%;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 60px;
    font-size: 20px;
    color: var(--bs-gray-600);
    font-weight: 400;
    padding-left: 20px;
}

form.searching button {
    width: 60px;
    border: none;
    outline: none;
    border-radius: 50%;
    color: white;
    height: 60px;
    background-color: var(--bs-blue);
}

.conventions {
    margin-top: 20px;
}

.convention {
    margin: 10px 0;
    padding: 10px 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-color: var(--bs-gray) transparent transparent transparent;
    gap: 11px;
}

.convention .image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.user {
    width: calc(100% - 60px);
}

.convention .username {
    display: flex;
    justify-content: space-between;
}

.username .name {
    font-weight: 400;
    font-size: 18px;
}

.username .time {
    font-weight: 300;
    font-size: 18px;
    color: var(--bs-gray-600);
}

.user-message {
    color: var(--bs-gray-600);
    font-size: 16px;
}

.active-con {
    background-color: var(--bs-blue);
    color: white;
}


.active-con .username .time {
    color: white;
}

.active-con .user-message {
    color: white;
}

/* CONTENT RIGHT */
.content-right .header {
    background-color: var(--bs-gray);
    padding: 13px 0 13px 30px;
}

.receiver-name {
    font-weight: 400;
}

.receiver-name span {
    color: #828282;
}

div.main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: calc(96% - 26px);
    padding: 0 20px;
}

.deration {
    color: var(--bs-gray);
    text-align: center;
    margin: 20px 0;
}

.deration h4 {
    position: relative;
    font-weight: 400;
}

.deration h4::after {
    content: "";
    width: 35%;
    position: absolute;
    top: 50%;
    right: 0px;
    height: 1px;
    background-color: var(--bs-gray);
}

.deration h4::before {
    content: "";
    width: 35%;
    position: absolute;
    top: 50%;
    left: 0px;
    height: 1px;
    background-color: var(--bs-gray);
}


.message-container {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 100px;
    max-height: 100%;
}

.message-container .message {
    font-size: 16px;
    font-weight: 400;
    width: fit-content;
    padding: 12px;
    border-radius: 5px;
}

.message-container .message.left {
    background-color: var(--bs-blue);
    position: relative;
    color: white;
}

.message-container .message.left::before {
    content: "";
    border: 4px solid;
    position: absolute;
    left: -8px;
    top: 50%;
    border-color: transparent var(--bs-blue) transparent transparent;
}

.message-container .message.right {
    background-color: var(--bs-gray);
    align-self: flex-end;
}

.messenger {
    background-color: var(--bs-gray);
    position: absolute;
    bottom: 10px;
    border-radius: 6px;
    display: flex;
    left: 5%;
    height: 40px;
    width: 90%;
}

.messenger input {
    border: none;
    outline: none;
    width: calc(100% - 120px);
    background-color: inherit;
}

.messenger i {
    width: 40px;
    color: var(--bs-gray-600);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}