@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-blue: rgb(42, 42, 255);
}

body {}

.wrapper {
    display: grid;
    grid-template-columns: 70px 1fr;
    height: 100vh;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--color-blue);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 125px 8px 0 8px;
}

.sidebar .icon {
    position: relative;
    padding: 9px;
    border-radius: 3px;
}

.sidebar .icon:hover {
    background-color: rgba(255, 255, 255, 0.443);
    transition-duration: 300ms;
}

.sidebar .icon a {
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}