:root {
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-blue: #3502ff;
    --br-sm-2: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
    position: relative;
}

.left {
    width: 30%;
}

.right {
    background-color: var(--color-blue);
    width: 70%;
}

.box-content {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    height: 80%;
    width: 80%;
    font-family: sans-serif;
}

.first {
    width: 25%;
    background-color: var(--color-blue);
    color: var(--color-white);
    padding: 28px 14px 0 38px;
}

.first .icon div {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: var(--color-white);
    color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}

.nav {
    height: 50%;
    margin-top: 23px;
    position: relative;
}

.nav .nav-item {
    margin: 14px 0;
    font-weight: 300;
    padding: 10px 0;
    border-radius: 10px;
    width: 90%;
    transition: .2s ease;
    transition-property: background;
    left: -10px;
    padding-left: 10px;
}

.nav .nav-item.active {
    background: rgba(255, 255, 255, 0.353);
}

.nav .nav-item:hover {
    background: rgba(255, 255, 255, 0.353);
}

.anc p:first-child {
    font-weight: bold;
    font-size: smaller;
    color: #7653ff;
}

.anc h2 {
    font-size: 23px;
    font-weight: 800;
}

.anc .des {
    margin: 21px 0;
    font-weight: 600;
    font-size: 16px;
    color: #a993ff;
}

.anc .email {
    font-weight: 800;
}

/* last */
.last {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 25px;
}

.left-sec .top p:first-child {
    font-size: 34px;
}

.left-sec .top p:last-child {
    color: gray;
    margin: 10px 0;
}

.left-sec form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    padding-right: 20px;
}

.left-sec form input,
textarea {
    border: none;
    outline: none;
    padding-left: 10px;
}

.left-sec form input {
    height: 40px;
}

.left-sec form input:focus,
textarea:focus {
    border: gray 2px solid;
    border-color: transparent transparent gray transparent;
    transition-duration: .5s;
}

.submit-btn .btn {
    text-decoration: none;
    font-weight: 800;
    color: var(--color-blue);
}

.right-sec {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 25px;
}

.right-sec h3 {
    font-weight: 800;
    margin-top: -100px;
}

.right-sec p {
    font-size: 18px;
    margin: 20px 0;
}

.right-sec .phone,
.right-sec .email {
    color: var(--color-blue);
    margin: 10px 0;
    cursor: pointer;
}