* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 15px;
}

h1 {
    text-transform: capitalize;
}

:root {
    --color-ref-primary0: #000000ff;
    --color-ref-primary10: #00201dff;
    --color-ref-primary20: #003733ff;
    --color-ref-primary30: #00504bff;
    --color-ref-primary40: #006a63ff;
    --color-ref-primary50: #00867dff;
    --color-ref-primary60: #00a298ff;
    --color-ref-primary70: #26bfb3ff;
    --color-ref-primary80: #50dbcfff;
    --color-ref-primary90: #71f7ebff;
    --color-ref-primary95: #b2fff6ff;
    --color-ref-primary99: #fff;
}

body {
    background-color: var(--color-ref-primary0);
    color: var(--color-ref-primary99);
}

.main {
    max-height: 100vh;
}

.container {
    margin: 160px auto 0;
    width: 550px;
}

.container h1 {
    font-weight: 500;
    font-size: 80px;
    text-align: center;
}

.container form {
    margin: 35px 0;
    display: flex;
    background-color: var(--color-ref-primary99);
    color: rgb(127, 125, 125);
    height: 44px;
    border-radius: calc(0.5 * 44px);
}

.container form input {
    border: none;
    outline: none;
    flex-grow: 1;
    height: 100%;
}

.container form span:first-child {
    width: 10%;
    height: 100%;
    border-radius: calc(0.5 * 44px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form button {
    width: 10%;
    border: none;
    outline: none;
    height: 100%;
    background-color: var(--color-ref-primary99);
    border-radius: calc(0.5 * 44px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.most-visited {
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);
    position: relative;
}

.most-visited .item {
    height: 112px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    transition: .3s;
    align-items: center;
}

.most-visited .item:hover {
    background-color: rgba(255, 255, 255, 0.328);
    border-radius: 5px;
    transition-duration: 200ms;
}

.image {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.title {
    font-weight: 600;
}