:root {
    --color-black: #000;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey-0: #f8f8f8;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --br-sm-2: 14px;
    --tran: all .4s ease-in-out;
    --box-shadow-1: 0 5px 5px #e0dfdf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Work Sans", sans-serif;
    color: var(--color-grey-3);
}

.wrapper {
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 380px;
    width: 1200px;
    margin: 0 auto;

}

/* Continuer Left */
.container .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .left .food-card {
    background-color: #f6f6f6;
    width: 100%;
    height: 200px;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: var(--box-shadow-1);
}

.food-text {
    height: 100%;
    padding: 22px 18px;
}

.food-text .title {
    color: #000;
    font-family: cursive;
    font-weight: 300;
}

.food-info {
    margin: 10px 0;
    display: flex;
}

.food-text .h3 {
    font-size: 16px;
    font-weight: 300;
    color: red;
    margin-top: 20px;
    cursor: pointer;
}

/* Paginator */
.paginator {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.paginate {
    border: 1px solid #b5b5b5;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginate:hover {
    background-color: red;
    color: #FFFFFF;
    transition-duration: 300ms;
}

.paginate.active {
    background-color: red;
    color: #FFFFFF;
}

/* Continuer Right */
.container .right {
    padding: 0 18px;
}

.right form {
    margin: 0 auto;
    padding: 10px;
    width: fit-content;
    display: flex;
    border: 2px solid var(--color-grey-2);
    border-radius: 20px;
}

.right form input {
    outline: none;
    border: 0;
}

.right form button {
    outline: none;
    border: 0;
    background-color: var(--color-white);
}

.right .sidebar {
    margin-top: 23px;
}

.right .sidebar .title {
    color: #000;
    font-family: cursive;
}

.side-item {
    margin-top: 17px;
}

hr {
    border-top: 1px solid#dbe1e8;
    margin: 10px 0;
}

.category-type h3 {
    display: flex;
    justify-content: space-between;
    margin: 7px 0;
    color: var(--color-grey-4);
    font-weight: 300;
}

.instgram-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6px;
}

.instgram-imgs .image {
    width: calc(3/90%);
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.instgram-imgs .image img {
    width: 100%;
    height: 100%;
}

.instgram-imgs .image:hover span {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 247, 0, 0.586);
    z-index: 1;
    transition: all ease .2s;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tags-container h5 {
    color: var(--color-grey-4);
    background-color: #b5b5b5;
    padding: 5px 8px;
    border-radius: 10px;
}

/* Subscribe */
.subscribe {
    background-color: rgb(254, 51, 51);
    width: 63vw;
    margin: 0 auto;
    display: flex;
    color: #FFFFFF;
    padding: 18px;
    border-radius: 8px;
    position: relative;
    top: 60px;
    left: 0;
}

.left-sub {
    width: 50%;
}

.left-sub h2 {
    text-transform: capitalize;
    font-family: cursive;
    font-weight: 300;
}

.left-sub p {
    margin-top: 10px;
    font-size: x-small;
}

.right-sub {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.right-sub form {
    background-color: #b5b5b533;
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: 1px solid #b5b5b56e;
    padding: 0 8px;
}

.right-sub form input {
    background-color: #b5b5b500;
    border: none;
    color: #FFFFFF;
    padding-left: 18px;
    width: 73%;
    height: 80%;
    outline: none;
}

.right-sub form button {
    border: none;
    padding: 0 28px;
    border-radius: 30px;
    width: 26%;
    height: 80%;
    text-align: center;
    color: red;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 1px #b5b5b5;
}

.bg-image {
    height: 100px;
    background-color: #000;
}